html body { 
  background-image: url("images/Background.jpg");
  background-size: cover;
    font-family: Comic Sans MS;
    
    color: #495057;
    font-weight: 550;
}
@font-face {
  font-family: Comic Sans MS;
  src: url(comici.ttf);
}
/*  first interface */
html body .interface { 
    width: 90%;
  background-color: #fff;
    height: 550px;
    margin: 5% ;
   margin-top: 9%;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 10px rgb(99, 99, 99);
    box-shadow: 0 0 10px rgb(85, 85, 85);
    /* display: none; */
 }
 html body input {
     width: 90%;
     margin: 3%;
     border: none;
     border-bottom: 1px solid rgb(141, 141, 141);
     padding: 1px;
 }
 html body input:focus {
   outline: none;
   
  border-image: linear-gradient(to right, rgb(85, 85, 255), rgb(139, 10, 204)) 1;

 }
 html body img {
     width: 90%;
     margin-left: 1%;
     margin-bottom: 8%;
 }
 html body label {
    margin-left: 2%;
 }
 html body p { 
     margin: 5%;
     margin-left: 20%;
 }
 html body input[type="submit"]{
     width: 50%;
    color: #495057;
    font-weight: 550;
    margin-left: 23%;
    margin-top: 16% ;
    height: 40px;
    border-radius: 8px;
    background-color: #8c64e7;
    color: white;
    font-family: Comic Sans MS;
 }







/* radio selection */
 label {
    user-select: none;
  }
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #999fa5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
  }
  
  input[type="radio"]:checked + label {
    color: #495057;
    background-color: #ced4da;
  }
  
  input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
  }
  /* end radio selection */
  /* end first interface */
  /* bmi-i */ 
  

  .greeting {
    
    font-size: x-large; 
    
    text-align: center;
    border-radius: 12px;
    padding: 5px;
    background-color: #03afdd  ;
    position: relative;
    top: 2px;
    left:  auto ;
    -webkit-box-shadow: 0 0 7px #03aeddc9;
    box-shadow: 0 0 7px #03aeddd1 ;
    width: auto;
    height: 40px;
    color: white;
    text-transform: uppercase;

  }
  /*  start animation  */
  /* male animation  */
  .anim   {
    width: 60%;
    top: 23px;
    height: 400px;
    /* border: 1px solid black ; */
    position: relative;
    left: 40%;
    background-size: cover;
    background-image: url(images/male/2.png);}
    .obes3 {
    animation-name: obes3 ;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;

  }
   
    @keyframes obes3 {
      10% {background-image: url(images/male/2.png);}
      35% {background-image: url(images/male/3.png);}
      60% {background-image: url(images/male/4.png);}
      80% {background-image: url(images/male/5.png);}
      100% {background-image: url(images/male/6.png);}
    }
    .obes2 {
      animation-name: obes2 ;
      animation-duration: 6s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
  
    }
     
      @keyframes obes2 {
        10% {background-image: url(images/male/2.png);}
        35% {background-image: url(images/male/3.png);}
        65% {background-image: url(images/male/4.png);}
        100% {background-image: url(images/male/5.png);}
        
      }
      .obes1 {
        animation-name: obes1 ;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    
      }
       
        @keyframes obes1 {
          10% {background-image: url(images/male/2.png);}
          55% {background-image: url(images/male/3.png);}
          100% {background-image: url(images/male/4.png);}
       
        }
        .over {
          animation-name: over ;
          animation-duration: 6s;
          animation-delay: 2s;
          animation-fill-mode: forwards;
      
        }
         
          @keyframes over {
            25% {background-image: url(images/male/2.png);}
             50% {background-image: url(images/male/3.png);}
            100% {background-image: url(images/male/3.png);}
           
          }
          .under {
            animation-name: under ;
            animation-duration: 6s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        
          }
           
            @keyframes under {
              25% {background-image: url(images/male/2.png);}
               50% {background-image: url(images/male/1.png);}
              100% {background-image: url(images/male/1.png);}
             
            }
            /* end male animation */
            /* female animation */
            .animf   {
              width: 60%;
              top: 23px;
              height: 400px;
              /* border: 1px solid black ; */
              position: relative;
              left: 40%;
              background-size: cover;
              background-image: url(images/female/2.png);}
              .obes3f {
              animation-name: obes3f ;
              animation-duration: 6s;
              animation-delay: 2s;
              animation-fill-mode: forwards;
          
            }
             
              @keyframes obes3f {
                10% {background-image: url(images/female/2.png);}
                35% {background-image: url(images/female/3.png);}
                60% {background-image: url(images/female/4.png);}
                80% {background-image: url(images/female/5.png);}
                100% {background-image: url(images/female/6.png);}
              }
              .obes2f {
                animation-name: obes2f ;
                animation-duration: 6s;
                animation-delay: 2s;
                animation-fill-mode: forwards;
            
              }
               
                @keyframes obes2f {
                  10% {background-image: url(images/female/2.png);}
                  35% {background-image: url(images/female/3.png);}
                  65% {background-image: url(images/female/4.png);}
                  100% {background-image: url(images/female/5.png);}
                  
                }
                .obes1f {
                  animation-name: obes1f ;
                  animation-duration: 6s;
                  animation-delay: 2s;
                  animation-fill-mode: forwards;
              
                }
                 
                  @keyframes obes1f {
                    10% {background-image: url(images/female/2.png);}
                    55% {background-image: url(images/female/3.png);}
                    100% {background-image: url(images/female/4.png);}
                 
                  }
                  .overf {
                    animation-name: overf ;
                    animation-duration: 6s;
                    animation-delay: 2s;
                    animation-fill-mode: forwards;
                
                  }
                   
                    @keyframes overf {
                      25% {background-image: url(images/female/2.png);}
                       50% {background-image: url(images/female/3.png);}
                      100% {background-image: url(images/female/3.png);}
                     
                    }
                    .underf {
                      animation-name: underf ;
                      animation-duration: 6s;
                      animation-delay: 2s;
                      animation-fill-mode: forwards;
                  
                    }
                     
                      @keyframes underf {
                        25% {background-image: url(images/female/2.png);}
                         50% {background-image: url(images/female/1.png);}
                        100% {background-image: url(images/female/1.png);}
                       
                      }

            
    .info {

      /* border: 1px black solid ; */
      width: 43%;
      position: relative;
      height: 375px;
      top: -350px;
    }
    html body .imgd  {
      width: 40px;
      display: inline;
      position: relative;
      top: -34px;
      left: 42%;
      
    }
    b {
      color: #03afdd;
      font-size: larger;
    }
    /* start diet  */
    .diet {
      /* border: 1px black solid ; */
      position: relative;
      top: -350px;
      
 
    }
    h2 {
      background: linear-gradient(to right, #41e3c8 0%, #311750 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    html body .container .diet span a {
      background-color: #ffad01;
     border-radius: 5px;
     position: relative;
     top: -542px;
     left: 180px;
     width: 50px;
     height: 21px;
     color: white;
     font-size: smaller;
     display: block;
     text-align: center;
     -webkit-box-shadow: 0 0 2px rgb(99, 99, 99);
     box-shadow: 0 0 2px rgb(85, 85, 85);
     text-decoration: none;
    }
    .doctor {
      width: 300px;
      position: relative;
    left: 100px;
    top: -20px;
    }
    .dietinfo {
      /* border: 1px black solid; */
      position: relative;
      top: -330px;
      left: 3px;
      width: 50%;
      height: 240px;


    }
    /* end diet */
 
    /* start end */
    .end {
      /* border: 1px black solid ; */
      position: relative;
      top: -645px;

    }
    .endimage {
      width: 280px;
      position: relative;
      left: 80px;
    }
    .back {
      all: unset;
      background-color: #00b5bc;
      color: white;
      border-radius: 5px;
      width: 70px;
      height: 30px;
      text-align: center;
      /* position: relative;
      top: -250px;
      left: -200px; */
    }
    /*  end end  */
    .final {
      display: none
    }
    .final span {
      font-weight: bold;
    }